appdirs==1.4.3
beautifulsoup4==4.4.1
billboard.py==2.0.2
certifi==2017.1.23
numpy==1.21.0
packaging==16.8
pandas==0.19.2
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.10.0
six==1.10.0
swagger-client==1.0.0
urllib3==1.20
